body{
    margin: 0;
    width: 100%;
    background-color: #F0F0F0;
}

#appBar {
  height: 50px;
  width: 100%;
  background-color: #297ea9;
  font-family: 'Noto Sans';
  color: white;
  box-shadow: 0 1px 3px #888888;
  border-bottom: 1px solid #2c6d9b;
}

#menuButton {
    width: 40px;
    height: 29px;
    padding-top: 11px;
    border : 1px solid white;
    border-radius: 20px;
    margin: 4px 5px 0 5px;
}

#menuButton #upperTinyDiv {
    width: 15px;
    height: 3px;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    margin: auto;
}

#menuButton #lowerTinyDiv {
    width: 15px;
    height: 3px;
    border-bottom: 4px solid white;
    margin: auto;
}

#mobileMenu {
    position: absolute;
    top:50px;
    bottom: 0;
    width: 50%;
    background-color: #297ea9;
}

#mobileMenu ul {
    margin: 0;
}

#mobileMenu li {
    padding: 10px;
    border-bottom: 2px solid white;
    list-style: none;
}

#mobileMenu li:hover {
   background-color: #89C4E2;
}

#logo {
    padding-left: 25px;
    font-family: 'Script MT Bold';
    font-size: 2.5em;
}

/* On 640px and wider screen */
@media (min-width: 640px) {
    #menuButton {
        display: none;
    }
    #appBar ul {
        position: absolute;
            right: 0;
            left: 400px;
        display: inline-block;

    }
    #appBar ul li {
        float: right;
        margin-right: 50px;
        list-style: none;
    }

    #mobileMenu {
        display: none;
    }
}

@media (max-width: 640px) {

    #appBar #menuButton{
        float: left;
    }


}
